<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
  
  <side>
  <img src=images/side.png>
  </side>
  
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/education">Education</a></li>
<li><a href="/experience">Experience</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/projects">Projects</a></li>
<li><a href="/skills">Skills</a></li>
<li><a href="/other">Other interests</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  <br>
  <footer>
   <ul>
   <li><a href="mailto:luis.de.sousa@protonmail.ch">email</a></li>
   <li><a href="https://github.com/ldesousa">github.com/ldesousa</a></li>
   </ul>
  </footer>
  </body>

</html>